<h1> Showing Selected Blog</h1>
<p>
  Title: <%= @blog.title %>
</p>
<p>
  Description: <%= @blog.description %>
</p>
<%= link_to "Back to Blogs" , blogs_path %> |
<%= link_to :Edit , edit_blog_path(@blog) %>
<%#= link_to :Delete , method: :delete, model: article_path %>

