<h1 align="center"> Showing All Articles</h1>
<%= render "list" %>

<!--old list page-->
<!--<table>-->
<!--  <tr>-->
<!--    <th> Title</th>-->
<!--    <th> Description</th>-->
<!--    <th> Action</th>-->
<!--  </tr>-->
  <%# @articles.each do |article| %>
<!--    <tr>-->
<!--      <td> <%#= article.title %></td>-->
<!--      <td> <%#= article.description %></td>-->
<!--      <td> <%#= link_to "Show", article_path(article) %></td>-->
<!--      <td> <%#= link_to "Edit", edit_article_path(article) %> </td>-->
<!--    </tr>-->
  <%# end %>
<!--</table>-->

<%#= link_to :Delete , method: :delete, model: article_path %>

