<div class="center jumbotron">
  <%#= image_tag("img2.jpeg", class: "rounded",width: "1000px", height: "500px") %>
  <%#= image_tag("img2.jpeg", class: "rounded mx-auto d-block",width: "1000px", height: "500px") %>
  <%#= image_tag("img2.jpeg", width: "1000px", height: "500px") %>
  <%= image_tag("modern_art.png", width: "1000px", height: "500px") %>
  <p>All way the up!!!!!!!!!!</p>
</div>

<!--<br>-->
<!--<%#= link_to('Home', root_path) %> |-->
<!--<%#= link_to('Articales', articles_path) %> |-->
<!--<%#= link_to('New Blog', blogs_path) %> |-->
<!--<%#= link_to('About', welcome_about_path) %> |-->
<!--<%#= link_to('Search', welcome_about_path) %> |-->
<!--app/assets/images/img2.jpeg-->

<%#= image_tag("img2.jpeg", width: "700px", height: "400px") %>
