<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="my url">My Test App</a>
      by <a href="/manishSingh"> Manish Singh</a>
    </small>
    <ul>
      <%= link_to "About", welcome_about_path %>
    </ul>

  </footer>
</div>
